body {
  background-image: url("./image/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.Title {
  position: absolute;
  left: 3.25%;
  right: 3.25%;
  top: 14.61%;
  bottom: 14.04%;

  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 682;
  font-size: 48px;
  line-height: 127px;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #fed36b;
}

.SecondTitle {
  position: absolute;
  left: 3.25%;
  right: 3.25%;
  top: 40%;
  bottom: 14.04%;

  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 682;
  font-size: 24px;
  line-height: 100px;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: rgba(255, 255, 255, 1);
}

.ThirdTitle {
  position: absolute;
  left: 3.25%;
  right: 3.25%;
  top: 70%;
  bottom: 14.04%;

  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100px;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 1);
}
