.IntroModal {
  width: inherit;
  height: inherit;

  /* padding: 1rem; */
  position: relative;
  background: rgba(178, 204, 240, 0.62);
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  margin: 0 10%; /* 페이지 중앙에 나타나도록 설정 */
  z-index: 10;
  margin-top: 0px;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
}

.IntroModalTitle {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 649;
  margin-top: 5%;
  font-size: 4vh;
  color: #ffde66;
}

.Member {
  width: inherit;
  display: flex;
  flex-direction: column;
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  /* font-weight: 649; */
  font-size: inherit;
  color: #ffde66;
}

.Member h4 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}