@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.Modal {
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 100px;
  z-index: 10;
  position: fixed;
  top: 100px;
  left: calc(50% - 15rem);*/

  width: inherit;
  height: inherit;
  padding: 1rem;
  position: relative;
  background: rgba(178, 204, 240, 0.62);
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  margin: 0 15%; /* 페이지 중앙에 나타나도록 설정 */
  z-index: 10;
  margin-top: 0px;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
}

.modalTitle {
  /* position: relative; */
  width: inherit;
  height: 10vh;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 649;
  font-size: 5vh;
  line-height: 108px;

  text-align: center;
  color: #ffde66;
}

.Gold {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  position: absolute;
  top: 25%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.Silver {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle2 {
  position: absolute;
  top: 41%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.Bronze {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle3 {
  position: absolute;
  top: 57%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.circle4 {
  position: absolute;
  top: 73%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.circle5 {
  position: absolute;
  top: 89%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.top-score {
  height: 6rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 682;
  font-size: 40px;
  color: #f4eded;
}